extends base

mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`/img/icons.svg#icon-${icon}`)
      | #{text}

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('/me', 'Settings', 'settings')
          +navItem('/my-tours', 'My bookings', 'briefcase')
          +navItem('/my-reviews', 'My reviews', 'star', true)
          +navItem('/my-billing', 'Billing', 'credit-card')

        - if (user && user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('/manage-tours', 'Manage tours', 'map')
              +navItem('/manage-users', 'Manage users', 'users')
              +navItem('/manage-reviews', 'Manage reviews', 'star')
              +navItem('/manage-bookings', 'Manage bookings', 'briefcase')

      .user-view__content
        .manage-page
          .manage-page__header
            h2.heading-secondary My reviews

          if reviews && reviews.length
            .card-container.card-container--compact
              each r in reviews
                .card
                  .card__header
                    .card__picture
                      .card__picture-overlay &nbsp;
                      if r.tour && r.tour.imageCover
                        img.card__picture-img(src=`/img/tours/${r.tour.imageCover}`, alt=`${r.tour.name}`)
                    h3.heading-tertirary
                      span= r.tour ? r.tour.name : 'Tour removed'

                  .card__details
                    h4.card__sub-heading= `Rating ${r.rating} / 5`
                    p.card__text= r.review
                    .card__data
                      svg.card__icon
                        use(xlink:href='/img/icons.svg#icon-calendar')
                      span= new Date(r.createdAt).toLocaleDateString('en-us', {month: 'long', day: 'numeric', year: 'numeric'})
                    .card__data
                      svg.card__icon
                        use(xlink:href='/img/icons.svg#icon-star')
                      span= `${r.rating} / 5`

                  .card__footer
                    p
                      span.card__footer-value= `${r.rating}`
                      |
                      span.card__footer-text rating
                    if r.tour && r.tour.slug
                      a.btn.btn--green.btn--small(href=`/tour/${r.tour.slug}`) View tour
          else
            .empty-state
              svg.empty-state__icon
                use(xlink:href='/img/icons.svg#icon-star')
              h3.empty-state__title No reviews yet
              p.empty-state__text You haven't written any reviews. Book and complete a tour, then share your experience.
              a.btn.btn--green(href='/') Explore tours
