extends base

include _reviewCard

block append head
  script(src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet')
  script(src="https://js.stripe.com/v3/")


mixin overviewBox(label, text, icon)
  .overview-box__detail
    svg.overview-box__icon
      use(xlink:href=`/img/icons.svg#icon-${icon}`)
    span.overview-box__label= label
    span.overview-box__text= text

block content
  section.section-header
    .header__hero
      .header__hero-overlay &nbsp;
      img.header__hero-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)

    .heading-box
      h1.heading-primary
        span= `${tour.name} tour`
      .heading-box__group
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-clock')
          span.heading-box__text= `${tour.duration} days`
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-map-pin')
          span.heading-box__text= tour.startLocation.description

  section.section-description
    .overview-box
      div
        .overview-box__group
          h2.heading-secondary.ma-bt-lg Quick facts

          - const date = tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'})
          +overviewBox('Next Date', date, 'icon')
          +overviewBox('Difficulty', tour.difficulty, 'trending-up')
          +overviewBox('Participants', `${tour.maxGroupSize} people`, 'icon-user')
          +overviewBox('Rating', `${tour.averageRating} / 5`, 'icon-star')

        .overview-box__group
          h2.heading-secondary.ma-bt-lg Your tour guides

          each guide in tour.guides
            .overview-box__detail
              img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`)
              - if (guide.role === 'lead-guide')
                span.overview-box__label Lead guide
              - if (guide.role === 'guide')
                span.overview-box__label Tour guide
              span.overview-box__text= guide.name
          
    .description-box
      h2.heading-secondary.ma-bt-lg= `About ${tour.name} tour`
      - const paragraph = tour.description.split('\n');
      each p in paragraph
        p.description__text= p

  section.section-pictures
    each image, i in tour.images
      .picture-box
        img.picture-box__img(src=`/img/tours/${image}`, alt=`${tour.name} Tour ${i + 1}`, class=`picture-box__img--${i + 1}`)
  
  section.section-map
    #map(data-locations=JSON.stringify(tour.locations))

  section.section-reviews
    .section-reviews__header
      if user
        button.btn-write-review#toggle-review-form(type='button', aria-label='Write a review')
          svg.btn-write-review__icon
            use(xlink:href='/img/icons.svg#icon-edit-3')
          span.btn-write-review__label Write a Review
          span.btn-write-review__stars(aria-hidden='true')
            each star in [1, 2, 3, 4, 5]
              svg.btn-write-review__star
                use(xlink:href='/img/icons.svg#icon-star')
    .reviews
      each review in tour.reviews
        +reviewCard(review)

    if user
      .review-form-container.hidden#review-form-container
        h2.heading-secondary.ma-bt-md Share your experience
        form.form.review-form#review-form(data-tour-id=`${tour.id}`)
          .form__group
            label.form__label(for='review-text') Your review
            textarea.form__input#review-text(rows='4', placeholder='Tell us about your tour...', required)
          .form__group
            label.form__label Your rating
            .review-form__rating#review-rating(data-rating='0')
              each star in [1, 2, 3, 4, 5]
                svg.review-form__star(data-value=star)
                  use(xlink:href='/img/icons.svg#icon-star')
          .form__group
            button.btn.btn--green(type='submit') Submit review
    else
      .review-form-container
        p.review-form__login
          a(href='/login') Log in
          |  to write a review

  section.section-cta
    .cta
      .cta__img.cta__img--logo
        img(src='/img/logo-white.png', alt='Natours logo')
      img.cta__img.cta__img--1(src=`/img/tours/${tour.images[1]}`, alt='Tour Picture')
      img.cta__img.cta__img--2(src=`/img/tours/${tour.images[2]}`, alt='Tour Picture')
      .cta__content
        h2.heading-secondary What are you waiting for?
        p.cta__text= `${tour.duration} days. 1 adventure. Infinite memories. Make it yours today!`

        if user
          a.btn.btn--green.span-all-rows#book-tour(href=`/api/v1/bookings/checkout-session/${tour.id}`) Book tour now!
        else
          a.btn.btn--green.span-all-rows(href='/login') Login to book tour